<div class="custom-container">
  <div class="container">
    <h1 class="custom-h1 custom-font mt-3 text-center">Login</h1>
    <div class="login-container">
      <form class="col-lg-6 offset-lg-3">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1">
        </div>
        <div class="d-grid gap-2 col-6 mx-auto">
          <button class="btn btn-primary mt-3" type="button">Login</button>
        </div>
      </form>
    </div>
  </div>
</div>
